<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:insert="~{header :: head(title=About-Us)}"> </head>
<body>
    <!-- Header / Navigation bar -->
    <div th:insert="~{header :: header-body}">
    </div>

    <div class="container">
        <h2></br></br>About Us</br></br></h2>
        <p>We are dedicated to providing accessible mental health support for everyone.</p>
        <p>Our platform connects users with professional therapists, offers therapy exercises,
            and provides valuable mental wellness resources.</p>
        <p>Our mission is to create a safe and supportive space for mental well-being.</p>
    </div>
    </br></br>

    <img src="../images/mentalhealth.png" alt="about us picture" style="display: block; margin: auto; width: 30%;">

    <!-- Footer -->
    <div class="footer">
        <p>Digital Mental Health Platform - 2025</p>
        <p style="font-weight: bold; font-style: italic;">If you are in crisis, having suicidal thoughts, or attempting suicide, contact emergency resources immediately.</p>
    </div>

    <!-- Bootstrap CSS and javascript bundles -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>