<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:insert="~{header :: head(title=Therapy-Exercises)}"> </head>
<body>
    <!-- Header / Navigation bar -->
    <div th:insert="~{header :: header-body}"></div>

    <div class="container">
        <h2></br></br>Therapy Exercises</br></br></h2>
        <p>Browse guided therapy exercises to improve your mental health.</p>
        </br></br>
        <img src="../images/therapy.png" alt="therapy exercises picture" style="display: block; margin: auto; width: 40%;">
    </div>

    <!-- Footer -->
    <div class="footer">
        <p>Digital Mental Health Platform - 2025</p>
        <p style="font-weight: bold; font-style: italic;">If you are in crisis, having suicidal thoughts, or attempting suicide, contact emergency resources immediately.</p>
    </div>

    <!-- Bootstrap CSS and javascript bundles -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>