<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:insert="~{header :: head(title='Forgot-Password')}"> </head>

<body>

<div th:insert="~{header :: header-body}"></div>

    <h2> Forgot Your Password? </h2>

<p> Enter your email address below, and we'll send you a link to reset your password. </p>

    <form th:action="@{/user/forgot-password}" method="post" class = "form">
        <label for="email" class = "form-label">Email:</label>
        <input type="email" id="email" name="email" class = "form-control" required>
        <label for="retype-email" class = "form-label">Email: Re-type Email:</label>
        <input type="email" id="retype-email" name="email-retype" class = "form-control" required>
        <br><br>
        <button type="submit" class = "btn btn-primary">Send Reset Link</button>
    </form>

    <div th:if="${message}">
        <p th:text="${message}" style="color: green;"></p>
    </div>
    <div th:if="${user}">
        <form th:action="@{/user/forgot-password/create-password}" method="post">
            <label for="New-Password">New Password: </label>
            <input type="password" id="New-Password" name="password" required>
            <label for="New-Password-Retype">New Password:</label>
            <input type="password" id="New-Password-Retype" name="password-retype" required>
            <br><br>
            <input type="number" id="id" name="id" th:value = "${user.id}" hidden>

            <button type="submit">Reset Password</button>
        </form>
    </div>

</body>
</html>