<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
  <head th:insert="~{header :: head(title=Login)}"> </head>
</head>
<body>
  <div th:insert="~{header :: header-body}">
  </div>
  <div class="column">
    <form th:action="@{/login}" method="post">
      <h2>Sign In</h2>
      <p>
        <label for="email" class="form-label">Email</label>
        <input id="email" name="username" type="email" class="form-control"/>
      </p>
      <p>
        <label for="password" class="form-label">Password</label>
        <input id="password" name="password" type="password" class="form-control"/>
      </p>
      <p>
        <a th:href="@{/user/forgot-password}" class="btn btn-link">Forgot Password?</a>

      <p>
        <a th:href="@{/user/forgot-username}" class="btn btn-link">Forgot Username?</a>
      </p>

      </p>

      <input type="submit" class="btn btn-primary" value="Submit"/>
    </form>

  </div>
</body>
</html>