<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head th:insert="~{header :: head(title='Community-Forums')}"> </head>
<body>
<!-- Header / Navigation bar -->
<div th:insert="~{header :: header-body}">
</div>

<div class="container">
  <h2></br></br>Community Forums</br></br></h2>
  <p>Connect with others, share experiences, and discuss mental health topics.</p>
  <img src="../images/flowerpic.png" alt="forums picture" style="display: block; margin: auto; width: 40%;">
  </br></br>

  <form id="createPostForm" class="form" th:action="@{/discussion/}" method="post">
    <h2>Create a new post</h2>
    <label for="title" class="form-label">Title:</label>
    <input id="title" class="form-control" name="title" required/>

    <label for="post" class="form-label">Content: </label>
    <textarea id="post" class="form-control" name="content" placeholder="Share your thoughts..." required></textarea>
    <br>
    <button type="submit" class="btn btn-primary">Post</button>
  </form>

  <hr>

  <h3>Recent Discussions</h3>
  <table class="table table-striped table-hover table-dark">
    <thead>
      <tr>
        <th scope="col">User</th>
        <th scope="col">Title</th>
        <th scope="col">Created At</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="discussion : ${discussions}">
        <th scope="row"><a style="text-decoration: none; color: white;" th:text="${discussion.createdByUser.email}" th:href="@{/discussion/view/{id}/(id=${discussion.id})}"></a></th>
        <td><a style="text-decoration: none; color: white;" th:text="${discussion.title}" th:href="@{/discussion/view/{id}/(id=${discussion.id})}"></a></td>
        <td><a style="text-decoration: none; color: white;" th:text="${#temporals.format(discussion.createdDate, 'MM-dd-yyyy hh:mm a')}" th:href="@{/discussion/view/{id}/(id=${discussion.id})}"></a></td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Footer -->
<div class="footer">
  <p>Digital Mental Health Platform - 2025</p>
  <p style="font-weight: bold; font-style: italic;">If you are in crisis, having suicidal thoughts, or attempting suicide, contact emergency resources immediately.</p>
</div>

<!-- Bootstrap CSS and javascript bundles -->
</body>
</html>