body {
    background-color: LightBlue !important;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.footer {
  background-color: #F1F1F1;
  text-align: center;
  margin-top: 540px;
  padding: 10px;
}

.container {
    margin-top: 20px;
}

.btn {
    margin-top: 10px;
}