<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:fragment="head (title)">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title th:text="${title}"></title>
  <link rel="stylesheet" href="/css/main.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://cdn.datatables.net/2.2.2/css/dataTables.dataTables.min.css">
  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

  <!-- DataTables JS -->
  <script src="https://cdn.datatables.net/2.0.3/js/dataTables.js"></script>
</head>
<body>
  <div th:fragment="header-body" style="border-style: solid;">
    <div>
      <h2>Digital Mental Health Platform</h2>
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Welcome</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/about-us">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/discussion">Community Forums</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/user/account">Account</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Services
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/therapist">Find Therapists</a></li>
                  <li><a class="dropdown-item" href="/appointment">Schedule Appointment</a></li>
                  <li><a class="dropdown-item" href="/therapy-portal">Therapy Portal</a></li>
                  <li><a class="dropdown-item" href="/mood-tracker">Mood Tracker</a></li>
                  <li><a class="dropdown-item" href="/therapy-exercises">Therapy Exercises</a></li>
                  <li><a class="dropdown-item" href="/meditation-guides">Meditation Guides</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/crisis-management-resources">Crisis Management Resources</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/faq">FAQ</a>
              </li>
            </ul>
            <div class="d-flex" style="align-items: flex-end">
              <a href="/user/account"><i style="font-size: 30px" class="bi bi-file-person-fill"></i></a>
              <p th:if="${loggedInUser}" th:text="${'Hello: ' + loggedInUser.email}"></p>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </div>
</body>
</html>