<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:insert="~{header :: head(title=Home)}"> </head>
<body>
    <!-- Header / Navigation bar -->
    <div th:insert="~{header :: header-body}"></div>

    <header>
        <h1 style="text-align: center;"></br></br>Welcome to the Digital Mental Health Platform!</h1>
        <p style="text-align: center;">Your mental wellness starts here.</br></br></p>
    </header>

    <div class="d-grid gap-2 col-6 mx-auto">
        <a class="btn btn-primary" href="/find-therapists" role="button" style="">Find a Therapist now</a>
    </div>
    </br></br>

    <img src="../images/home.png" alt="home page picture" style="display: block; margin: auto; width: 50%;">

    <!-- Footer -->
    <div class="footer">
        <p>Digital Mental Health Platform - 2025</p>
        <p style="font-weight: bold; font-style: italic;">If you are in crisis, having suicidal thoughts, or attempting suicide, contact emergency resources immediately.</p>
    </div>

    <!-- Bootstrap CSS and javascript bundles -->
</body>
</html>