<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:insert="~{header :: head(title=Therapy-Portal)}"> </head>
<body>
    <!-- Header / Navigation bar -->
    <div th:insert="~{header :: header-body}"></div>

    <div class="container">
        <h2></br></br>Join Your Therapy Session</br></br></h2>
        <button class="btn btn-primary">Join Session</button>
        </br></br>
        <img src="../images/therapy2.png" alt="therapy portal picture" style="display: block; margin: auto; width: 50%;">
    </div>

    <!-- Footer -->
    <div class="footer">
        <p>Digital Mental Health Platform - 2025</p>
        <p style="font-weight: bold; font-style: italic;">If you are in crisis, having suicidal thoughts, or attempting suicide, contact emergency resources immediately.</p>
    </div>

    <!-- Bootstrap CSS and javascript bundles -->
</body>
</html>